:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-accent-color: #2196f3;
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --main-icon-color: #afb1b8;
  --main-transition-duration: 250ms;
  --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
