/* EXAMPLES */
.examples {
  padding-top: 0;
}
.examples__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.pictures__list {
  display: flex;
  gap: 30px;
}
.pictures__list-item {
  position: relative;
}
.pictures__list-text {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-background-color);
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
