/* FEATURE */
.card__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card__list-item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.card__list-wrap {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.card__list-icon {
  fill: currentColor;
}
.card__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 10px;
  @include tablet {
    text-align: left;
  }
}
.card__list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
